/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 1.5rem;
}

.tight-h .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.socialbtn {
    display: inline-block;
    vertical-align: top;
}

.fb-like {
    /* ew */
    position: relative;
    top: -4px;
}

.donate {
    font-weight: bold;
}

.btn-group .btn-primary:not(.active) {
    color: #444;
    background-color: #6489b1;
    border-color: #7e90a2;
}

.btn-group .btn-primary:not(:disabled):not(.disabled).active {
    color: white;
    background-color: #007bff;
    border-color: #75b7ff;
}


